* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
  --space-7: 96px;
  --space-8: 128px;

  --fs-medium: 1rem; /* 16 */
  --fs-large: 1.25rem; /* 20 */
  --fs-xlarge: 1.5rem; /* 24 */
  --fs-xxlarge: 2rem; /* 32 */

  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary-light: hsl(45deg, 100%, 50%);
  --color-secondary-dark: hsl(45deg, 100%, 40%);

  --color-gray-0: hsl(0deg, 0%, 0%);
  --color-gray-20: hsl(0deg, 0%, 10%);
  --color-gray-40: hsl(0deg, 0%, 30%);
  --color-gray-60: hsl(0deg, 0%, 40%);
  --color-gray-80: hsl(0deg, 0%, 60%);
  --color-gray-100: hsl(0deg, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

strong {
  color: var(--color-primary);
}

p {
  font-size: var(--fs-large);
  line-height: 1.5;
}

main {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
  border-top: 8px solid var(--color-gray-80);
  background-color: var(--color-gray-60);
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 460px;
  margin-top: var(--space-7);
  margin-bottom: var(--space-6);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

.title {
  margin-bottom: var(--space-5);
  font-weight: 800;
  font-size: var(--fs-xxlarge);
}

.card {
  padding: var(--space-1) var(--space-3);
  border-bottom: 8px solid var(--color-gray-80);
  background-color: var(--color-gray-100);
}

.indented-heading {
  width: fit-content;
  margin-top: 0;
  margin-left: calc(var(--space-4) * -1);
  padding: 12px 32px;
  border-bottom: 8px solid var(--color-secondary-dark);
  background-color: var(--color-secondary-light);
}
